---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Pillars from "../components/Pillars.astro";
import Work from "../components/Work.astro";
import About from "../components/About.astro";
import Location from "../components/Location.astro";
import Testimonials from "../components/Testimonials.astro";
import Faq from "../components/Faq.astro";
import Certificates from "../components/Certificates.astro";
import Cta from "../components/Cta.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <Navbar />
  <main id="main-content">
    <Hero />
    <Pillars />
    <Work />
    <About />
    <Location />
    <Testimonials />
    <Faq />
    <Certificates />
    <Cta />
  </main>
  <Footer />
</BaseLayout>
